html{
    background-color:#6F5449
    ;
}
body{
    background-color: #6F5449 ;
    width: 100vw;
}

.nav{
    border-top:1px solid rgba(255, 255, 255, 0.596);
    border-bottom:1px solid rgba(255, 255, 255, 0.596);
    color:#fff;
    display:flex;
    width: 100vw;
    justify-content: space-between;
  }
  .nav0{   
    height:4vw;
    width: 25%;
    color:#fff;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }
  .nav0 a{
    font-family:'Raleway', Arial, sans-serif,bold;
    color:#fff;
    font-size:1.5vw;
    
    }
  .nav0 a:hover{
    font-family:'Raleway', Arial, sans-serif,bold;
    text-decoration:none;
    color:#DAB55B;
    font-size:2vw;
  }

.nav{
    background-color:#392C22;
}

.row1{
    height:200px;  
    width: 100%;
}
.ground{
    display:flex;
    justify-content:space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100vw;
}
h1{
    color:#DAB55B;


    font-family:"微軟正黑體";
}
.abc .a{
    color:#fff;
}
a{
    color:#fff;
font-size:20px;

font-family:"微軟正黑體";
}

.yel,.whi,.cat,.run,.abc{
    width:20%;
    height:300px;
    position:relative; 
   margin-bottom: 20px;
   margin-left: 20px;
}


.yel img{ position:absolute;
  /* 淡出淡入效果2秒 */
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
 }
.yel img:last-child:hover{
     /* 滑入時第一張透明度設0 */
      opacity:0;}
.whi img{ position:absolute;
        /* 淡出淡入效果2秒 */
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
       }
.whi img:last-child:hover{
           /* 滑入時第一張透明度設0 */
            opacity:0;}
.cat img{ position:absolute;
                /* 淡出淡入效果2秒 */
                -webkit-transition: opacity 1s ease-in-out;
                -moz-transition: opacity 1s ease-in-out;
                -o-transition: opacity 1s ease-in-out;
                transition: opacity 1s ease-in-out;
               }
.cat img:last-child:hover{
                   /* 滑入時第一張透明度設0 */
                    opacity:0;}
.run img{ position:absolute;
                        /* 淡出淡入效果2秒 */
                        -webkit-transition: opacity 1s ease-in-out;
                        -moz-transition: opacity 1s ease-in-out;
                        -o-transition: opacity 1s ease-in-out;
                        transition: opacity 1s ease-in-out;
                       }
.run img:last-child:hover{
                           /* 滑入時第一張透明度設0 */
                            opacity:0;}
 @media screen and (max-width:768px){
     a{
        display:block;/*统一转化为块级元素*/  
        overflow:hidden;   
     }
     h1{
        color:#FFFFFF;
        font-weight:bold;
     }
input{
        display:none;/*统一转化为块级元素*/  
          
        width:0;  
        height:100px; 
}
.yel,.whi,.cat,.run,.abc{
    width:40%;
    position:relative; 
   margin-bottom: 20px;
   margin-left: 20px;
}
.abc{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 5px;
}
img{
    width: 100%;
    object-fit: cover;
}
.ground{
    justify-content: center;
}

}